body{
	margin:0;
}
/* Your CSS Code here. */
#one{
	background-color:red;
}
#two{
	background-color:blue;
}
#three{
	background-color:green;
}

#four{
	background-color:red;
}
#five{
	background-color:blue;
}
#six{
	background-color:green;
}

.item{
	width:100px;
	height:100px;
	border:1px solid black;
}
.holder{
	margin-top:5px;
	display:flex;
	justify-content:space-between;
	flex-wrap:wrap;
}